<section class="flat-title-page inner" style="padding-top: 120px;">
    <div class="overlay2"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="page-title-heading">
                    <div class="heading-inner">
                        <div class="heading"><span>Encuentra tu hogar ideal</span> <br> <span>Todos los municipios de Antioquia</span> </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="flat-featured flat-property-grid flat-property tf-section2 wg-dream home2">
    <div class="content-tab">
        <div class="content-inner tab-content">
            <div class="form-sl">
                <form (submit)="searchProperties($event)">
                    <div class="wd-find-select flex">
                        <div class="inner-group">
                            <div class="form-group-1 search-form form-style">
                                <input 
                                    type="search" 
                                    class="search-field" 
                                    placeholder="Buscar por Nombre" 
                                    [(ngModel)]="global.searchQuery" 
                                    (ngModelChange)="global.applyFilters()" 
                                    name="searchQuery" 
                                    required>
                            </div>
                            <div class="form-group-2 form-style">
                                <div class="group-select">
                                    <div class="nice-select" tabindex="0">
                                        <span class="current">Tipo de propiedad</span>
                                        <ul class="list">
                                            <li data-value="" class="option selected" (click)="selectTypeProperty('')">Tipo de propiedad</li>
                                            <li *ngFor="let type of global.propertyTypes" 
                                                [class.selected]="global.selectedTypeProperty === type" 
                                                (click)="selectTypeProperty(type)">
                                                {{ type }}
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group-1 form-style">
                                <div class="group-select">
                                    <div tabindex="1">
                                        <select class="form-control nice-select" (change)="selectStatus($event)">
                                            <option value="">Seleccione el estado</option>
                                            <option value="Renta">Renta</option>
                                            <option value="Venta">Venta</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="button-search sc-btn-top">
                            <button class="sc-button" type="button" (click)="resetFilters()">
                                <span>Refrescar</span>
                                <i class="far fa-sync-alt text-color-1"></i>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
<section class="flat-featured wg-dream home">
    <div class="container3">
      <div class="row">
        <div class="col-lg-12">
          
          <div class="flat-tabs themesflat-tabs">
            <div class="box-tab center">
              <ul class="menu-tab tab-title flex justify-center">
                <li *ngFor="let type of global.propertyTypes" class="item-title hv-tool" (click)="selectTypeProperty(type)">
                  <h5 class="inner">{{ type }}</h5>
                </li>
              </ul>
            </div>
  
            <div class="content-tab">
              <div class="content-inner tab-content">
                <div class="wrap-item flex">
                  <!-- col 1 -->
                  <div class="box box-dream hv-one" *ngFor="let property of global.filteredProperties; let i = index" >
                    <div class="image-group relative ">
                      <span class="featured fs-12 fw-6">{{property.status}}</span>
                      <span class="icon-bookmark"><i class="far fa-bookmark"></i></span>
                      <div class="swiper-container carousel-2 img-style">
                        <a class="icon-plus" (click)="view(property)">
                          <img src="assets/todobienes/assets/images/icon/plus.svg" alt="images">
                        </a>
                        <div class="swiper-wrapper">
                          <div class="swiper-slide" style="width: auto; height: 300px;" *ngFor="let image of property.images">
                            <img src="{{image}}" alt="images">
                          </div>
                        </div>
                        <div class="pagi2">
                          <div class="swiper-pagination2"></div>
                        </div>
                        <div class="swiper-button-next2"><i class="fal fa-arrow-right"></i></div>
                        <div class="swiper-button-prev2"><i class="fal fa-arrow-left"></i></div>
                      </div>
                    </div>
                    <div class="content">
                      <h3 class="link-style-1"><a (click)="view(property)">{{property.title}}</a></h3>
                      <h4 class="link-style-1"><a>{{property.address}}</a></h4>
                      <div class="text-address"><p class="p-12">{{property.municipality}}</p></div>
                      <div class="money fs-18 fw-6 text-color-3"><a (click)="view(property)">{{property.canon}}</a></div>
                      <div class="icon-box flex">
                        <div class="icons icon-1 flex"><span>Hab.: </span><span class="fw-6">{{property.bedrooms}}</span></div>
                        <div class="icons icon-2 flex"><span>Ba.: </span><span class="fw-6">{{property.bathroom}}</span></div>
                        <div class="icons icon-3 flex"><span>Area: </span><span class="fw-6">{{property.area}}</span> m²</div>
                      </div>
                    </div>
                  </div>
                </div>
                 
              </div>
            </div>
          </div>
  
        </div>
      </div>
    </div>
  </section>




<!-- <section class="flat-property flat-property-list2 flat-properties-rent tf-section2 wg-dream" *ngIf="!isGridView">
    <div class="container">
        <div class="row flex">
            <div class="col-lg-12">
                <div class="posts">
                    <div class="wrap-list">
                        <div class="box box-dream flex" *ngFor="let property of global.filteredProperties">
                            <div class="image-group relative ">
                                <span class="featured fs-12 fw-6">{{property.status}}</span>
                                <div class="swiper-container carousel-2 img-style">
                                    <a class="icon-plus" (click)="view(property)"><img src="assets/todobienes/assets/images/icon/plus.svg" alt="images"></a>
                                    <div class="swiper-wrapper">
                                        <div class="swiper-slide" style="width: auto; height: 400px;" *ngFor="let image of property.images"><img src="{{image}}" alt="images"></div>
                                    </div>
                                    <div class="pagi2">
                                        <div class="swiper-pagination2"></div>
                                    </div>
                                    <div class="swiper-button-next2"><i class="fal fa-arrow-right"></i></div>
                                    <div class="swiper-button-prev2"><i class="fal fa-arrow-left"></i></div>
                                </div>
                            </div>
                            <div class="content">
                                <span class="icon-bookmark"><i class="far fa-bookmark"></i></span>
                                <h3 class="link-style-1"><a>{{property.title}}</a></h3>
                                <div class="text-address">
                                    <p class="p-12">{{property.address}}</p>
                                </div>
                                <div class="money fs-20 fw-8 font-2 text-color-3"><a>{{property.canon}}</a></div>
                                <div class="icon-box">
                                    <div class="icons icon-1 flex"><span>Habitaciones: </span><span class="fw-6">{{property.bedrooms}}</span></div>
                                    <div class="icons icon-2 flex"><span>Baños: </span><span class="fw-6">{{property.bathroom}}</span></div>
                                    <div class="icons icon-3 flex"><span>Area: </span><span class="fw-6">{{property.area}} m2</span></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section> -->

<!-- <section class="flat-featured flat-property flat-property-grid-1 tf-section2 wg-dream style5" *ngIf="isGridView">
    <div class="container6">
        <div class="row flex">
            <div class="properties">
                <div class="wrap-item flex">
                    <div class="box box-dream hv-one style-dream" *ngFor="let property of global.filteredProperties">
                        <div class="image-group">
                            <span class="featured fs-12 fw-6">{{property.status}}</span>
                            <div class="swiper-container carousel-2 img-style">
                                <a class="icon-plus" (click)="view(property)"><img src="assets/todobienes/assets/images/icon/plus.svg" alt="images"></a>
                                <div class="swiper-wrapper">
                                    <div class="swiper-slide" style="width: auto; height: 400px;" *ngFor="let image of property.images"><img src="{{image}}" alt="images"></div>
                                </div>
                                <div class="pagi2">
                                    <div class="swiper-pagination2"></div>
                                </div>
                                <div class="swiper-button-next2"><i class="fal fa-arrow-right"></i></div>
                                <div class="swiper-button-prev2"><i class="fal fa-arrow-left"></i></div>
                            </div>
                        </div>
                        <div class="content">
                            <h3 class="link-style-1"><a (click)="view(property)">{{property.title}}</a></h3>
                            <h4 class="link-style-1"><a>{{property.address}}</a></h4>
                            <div class="text-address">
                                <p class="p-12">{{property.municipality}}</p>
                            </div>
                            <div class="money fs-18 fw-6 text-color-3"><a (click)="view(property)">{{property.canon}}</a></div>
                            <div class="icon-box flex">
                                <div class="icons icon-1 flex"><span>Hab.: </span><span class="fw-6">{{property.bedrooms}}</span></div>
                                <div class="icons icon-2 flex"><span>Ba.: </span><span class="fw-6">{{property.bathroom}}</span></div>
                                <div class="icons icon-3 flex"><span>Area: </span><span class="fw-6">{{property.area}}</span> m²</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section> -->
