<!-- title page -->
<section class="flat-title-page inner"> <div class="overlay2"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="page-title-heading">   
                    <div class="heading-inner">
                        <div class="heading"><span>Antioquia (Medellín y Sabaneta)</span> </div>
                        
                      
                    </div>                                                 
                </div>                        
            </div>
        </div>
    </div>                    
</section>
<div class="top-filters style style2">
    <div class="container6">
        <div class="row">                      
            <div class="col-lg-12">
                <div class="flat-tabs style2 flex">
                    <div class="box-tab center">
                        <ul class="menu-tab tab-title flex">
                            <li class="item-title active flex align-center">
                                <i class="far fa-check-circle"></i> <h4 class="inner">Arriendos</h4>
                            </li>
                            <li class="item-title style">
                                <h4 class="inner"> Ventas </h4>
                            </li>
                        </ul>
                    </div>
                    <div class="content-tab">
                        <div class="content-inner tab-content">
                            <div class="form-sl">
                                <form method="post">
                                    <div class="wd-find-select flex">
                                        <div class="form-group-1 search-form form-style relative">
                                            <i class="far fa-search"></i>
                                            <input type="search" class="search-field" placeholder="Escribe lo que buscas..." value="" name="s" title="Search for" required="">
                                        </div>                                                  
                                        <div class="form-group-2 form-style">
                                            <div class="group-select">
                                                <div class="nice-select" tabindex="0"><span class="current">Tipo de propiedad</span>
                                                    <ul class="list">    
                                                        <li data-value class="option selected">Casa</li>
                                                        <li data-value="bungalow" class="option">Apartamento</li>
                                                        <li data-value="apartment" class="option">Oficina</li>
                                                        <li data-value="house" class="option">Lote</li>
                                                        <li data-value="smart-home" class="option">Finca</li>                                                      
                                                        <li data-value="Single family home" class="option">Proyecto en construcción</li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group-3 form-style">
                                            <div class="group-select">
                                                <div class="nice-select" tabindex="0"><span class="current">Ubicación</span>
                                                    <ul class="list">  
                                                        <li data-value class="option selected">Sabaneta</li>                                                        
                                                        <li data-value="Japan" class="option">Medellín</li>
                                                    </ul>
                                                </div>
                                            </div>                                                    
                                        </div>
                                      
                                        <div class="button-search sc-btn-top">
                                            <a class="sc-button button-top" href="#">
                                                <span>Búscar</span>
                                                <i class="far fa-search"></i>
                                            </a>
                                        </div> 
                                    </div>
                                    <div class="wd-find-select wd-search-form ">
                                        <div class="box1 flex flex-wrap form-wg">
                                            <div class="form-group wg-box3">
                                                <div class="group-select">
                                                    <div class="nice-select" tabindex="0"><span class="current">Baths: Any</span>
                                                        <ul class="list"> 
                                                            <li data-value class="option selected">Baths: Any</li>                                                         
                                                            <li data-value="1" class="option">1</li>
                                                            <li data-value="2" class="option">2</li>
                                                            <li data-value="3" class="option">3</li>
                                                            <li data-value="4" class="option">4</li>
                                                            <li data-value="5" class="option">5</li>
                                                            <li data-value="6" class="option">6</li>
                                                            <li data-value="7" class="option">7</li>
                                                            <li data-value="8" class="option">8</li>
                                                            <li data-value="9" class="option">9</li>
                                                            <li data-value="9" class="option">10</li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group wg-box3">
                                                <div class="group-select">
                                                    <div class="nice-select" tabindex="0"><span class="current">Beds: Any</span>
                                                        <ul class="list">   
                                                            <li data-value class="option selected">Beds: Any</li>                                                       
                                                            <li data-value="1" class="option">1</li>
                                                            <li data-value="2" class="option">2</li>
                                                            <li data-value="3" class="option">3</li>
                                                            <li data-value="4" class="option">4</li>
                                                            <li data-value="5" class="option">5</li>
                                                            <li data-value="6" class="option">6</li>
                                                            <li data-value="7" class="option">7</li>
                                                            <li data-value="8" class="option">8</li>
                                                            <li data-value="9" class="option">9</li>
                                                            <li data-value="9" class="option">10</li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group wg-box3">
                                                <div class="widget widget-price ">
                                                    <div class="caption flex-two">
                                                        <div>
                                                            <span class="fw-6">Form</span>
                                                            <span id="slider-range-value1"></span>
                                                            <span id="slider-range-value2"></span>
                                                        </div>
                                                    </div>
                                                    <div id="slider-range"></div>
                                                    <div class=" slider-labels">
                                                        <div>
                                                            <input type="hidden" name="min-value" value="">
                                                            <input type="hidden" name="max-value" value="">
                                                        </div>
                                                    </div>
                                                </div><!-- /.widget_price -->
                                            </div>
                                            <div class="form-group wg-box3">
                                                <div class="widget widget-price ">
                                                    <div class="caption flex-two">
                                                        <div>
                                                            <span class="fw-6">Size</span>
                                                            <span id="slider-range-value01"></span>
                                                            <span id="slider-range-value02"></span>
                                                        </div>
                                                    </div>
                                                    <div id="slider-range2"></div>
                                                    <div class="slider-labels">
                                                    <div>
                                                        <input type="hidden" name="min-value2" value="">
                                                        <input type="hidden" name="max-value2" value="">
                                                    </div>
                                                    </div>
                                                </div><!-- /.widget_price -->
                                            </div>
                                        </div>
                                        <div class="boder-wg"></div>
                                        <div class="box2 flex flex-wrap form-wg">
                                            <div class="form-group wg-box3">
                                                <div class="tf-amenities bg-white">
                                                    <label class="flex"><input name="newsletter" type="checkbox"  /> 
                                                        <span class="btn-checkbox"></span><span class="fs-13">Swimming pool</span> 
                                                    </label>
                                                    <label class="flex"><input name="newsletter" type="checkbox" /> 
                                                        <span class="btn-checkbox"></span><span class="fs-13">Garage</span> 
                                                    </label>
                                                    <label class="flex"><input name="newsletter" type="checkbox"  /> 
                                                        <span class="btn-checkbox"></span><span class="fs-13">Alarm system</span> 
                                                    </label> 
                                                </div>                                                  
                                            </div> 
                                            <div class="form-group wg-box3">
                                                <div class="tf-amenities bg-white">
                                                    <label class="flex"><input name="newsletter" type="checkbox"  /> 
                                                        <span class="btn-checkbox"></span><span class="fs-13">Balcony</span> 
                                                    </label>
                                                    <label class="flex"><input name="newsletter" type="checkbox"  /> 
                                                        <span class="btn-checkbox"></span><span class="fs-13">Outdoor area</span> 
                                                    </label>
                                                    <label class="flex"><input name="newsletter" type="checkbox" /> 
                                                        <span class="btn-checkbox"></span><span class="fs-13">Broadband</span> 
                                                    </label>                                   
                                                </div>                                                  
                                            </div> 
                                            <div class="form-group wg-box3">
                                                <div class="tf-amenities bg-white">
                                                    <label class="flex"><input name="newsletter" type="checkbox"  /> 
                                                        <span class="btn-checkbox"></span><span class="fs-13">Ensuite</span> 
                                                    </label>
                                                    <label class="flex"><input name="newsletter" type="checkbox" /> 
                                                        <span class="btn-checkbox"></span><span class="fs-13">Built in robes</span> 
                                                    </label>
                                                    <label class="flex"><input name="newsletter" type="checkbox"  /> 
                                                        <span class="btn-checkbox"></span><span class="fs-13 ">Gym</span> 
                                                    </label> 
                                                </div>                                                  
                                            </div>  
                                            <div class="form-group wg-box3">
                                                <div class="tf-amenities bg-white">
                                                    <label class="flex"><input name="newsletter" type="checkbox"  /> 
                                                        <span class="btn-checkbox"></span><span class="fs-13">Tennis court</span> 
                                                    </label>
                                                    <label class="flex"><input name="newsletter" type="checkbox"  /> 
                                                        <span class="btn-checkbox"></span><span class="fs-13">Study</span> 
                                                    </label>
                                                    <label class="flex"><input name="newsletter" type="checkbox"  /> 
                                                        <span class="btn-checkbox"></span><span class="fs-13">Outdoor spa</span> 
                                                    </label> 
                                                </div>                                                  
                                            </div> 
                                        </div>
                                    </div>
                                </form>
                                <!-- End Job  Search Form-->
                            </div> 
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<section class="flat-title" >
    <div class="container6">
        <div class="row">                      
            <div class="col-lg-12">
                <div class="title-inner style">
                    <div class="title-group fs-12"><a class="home fw-6 text-color-3" >Inicio</a><span> Propiedades</span></div>
                </div>
            </div> 
        </div>
    </div>
</section>


<section class="flat-featured flat-property flat-property-grid-1 tf-section2 wg-dream style5" >
    <div class="container6">
        <div class="row flex">                      
            <div class="properties" >
                <div class="category-filter flex justify-space align-center">
                    <div class="box-1 flex align-center">
                        <div class="heading-listing fs-30 lh-45 fw-7">Propiedades</div><div class=""> 164,814 </div> 
                    </div>
                 
                </div>
                <div class="wrap-item flex ">
                    <!-- col 1 -->
                    <div class="box box-dream hv-one style-dream" *ngFor="let property of global.properties">
                        <div class="image-group relative " >
                            <span class="featured fs-12 fw-6">Featured</span>  
                            <span class="featured style fs-12 fw-6">For sale</span>   
                            <span class="icon-bookmark"><i class="far fa-bookmark"></i></span> 
                            <div class="swiper-container noo carousel-2 img-style" >    
                                <a (click)="global.setRoute('property-detail')" class="icon-plus"><img src="assets/todobienes/assets/images/icon/plus.svg" alt="images"></a>
                                <div class="swiper-wrapper ">
                                    <div class="swiper-slide"><img src="{{property.images[0]}}" alt="images"></div>
                                   <!--  <div class="swiper-slide"><img src="assets/todobienes/assets/images/house/featured-22.jpg" alt="images"></div>
                                    <div class="swiper-slide"><img src="assets/todobienes/assets/images/house/featured-23.jpg" alt="images"></div>
                                    <div class="swiper-slide"><img src="assets/todobienes/assets/images/house/featured-24.jpg" alt="images"></div>
                                    <div class="swiper-slide"><img src="assets/todobienes/assets/images/house/featured-26.jpg" alt="images"></div> -->
                                </div>
                                <div class="pagi2"><div class="swiper-pagination2">  </div> </div>
                                <div class="swiper-button-next2 "><i class="fal fa-arrow-right"></i></div>
                                <div class="swiper-button-prev2 "><i class="fal fa-arrow-left"></i> </div>                                        
                            </div>
                        </div>
                        <div class="content">
                            <h3 class="link-style-1"><a >{{property.direccion}}</a> </h3>
                            <div class="text-address"><p class="p-12">{{property.municipio}}</p></div>
                            <div class="money fs-18 fw-6 text-color-3"><a href="#">{{property.canon}}</a></div>  
                            <div class="icon-box flex">
                             <div class="icons icon-1 flex"><span>Hab.: </span><span class="fw-6">{{property.habitaciones}}</span></div>
                             <div class="icons icon-2 flex"><span>Ba.: </span><span class="fw-6">{{property.bathroom}}</span></div>
                             <div class="icons icon-3 flex"><span>Area: </span><span class="fw-6">{{property.area}}</span> m²</div>
                            </div>           
                        </div>
                    </div>
                   
                </div>
                <div class="themesflat-pagination clearfix center style">
                    <ul>
                        <li><a href="#" class="page-numbers style"><i class="far fa-angle-left"></i></a></li>
                        <li><a href="#" class="page-numbers">1</a></li>
                        <li><a href="#" class="page-numbers">2</a></li>
                        <li><a href="#" class="page-numbers current">3</a></li>
                        <li><a href="#" class="page-numbers">4</a></li>
                        <li><a href="#" class="page-numbers">...</a></li>
                        <li><a href="#" class="page-numbers style"><i class="far fa-angle-right"></i></a></li>
                    </ul>
                </div>
            </div>  
            <!-- <aside class="side-bar">
                <div class="inner-side-bar">                                       
                    <div class="widget widget-contact"> 
                        <h3 class="widget-title title-contact">
                            Agentes 
                        </h3>                                 
                        <div class="box-contact flex align-center">
                            <div class="img-author">
                                <img src="assets/todobienes/assets/images/author/author-sidebar-1.jpg" alt="images">
                            </div>
                            <div class="content">
                                <p>Agente</p>
                                
                            </div>
                        </div>
                         <div class="box-contact flex align-center">
                            <div class="img-author">
                                <img src="assets/todobienes/assets/images/author/author-sidebar-2.jpg" alt="images">
                            </div>
                            <div class="content">
                                <p>Cameron Williamson</p>
                                <a class="fw-6" href="tel:012345678">(405) 555-0128</a>
                            </div>
                        </div>
                        <div class="box-contact flex align-center">
                            <div class="img-author">
                                <img src="assets/todobienes/assets/images/author/author-sidebar-3.jpg" alt="images">
                            </div>
                            <div class="content">
                                <p>Darlene Robertson</p>
                                <a class="fw-6" href="tel:012345678">(201) 555-0126</a>
                            </div>
                        </div> 
                    </div>
                    
                    <div class="widget widget-listings style"> 
                        <h3 class="widget-title title-list">
                            Featured listings
                        </h3>                                                                                                                        
                        <div class="box-listings flex hover-img3">
                            <div class="img-listings img-style3">
                                <img src="assets/todobienes/assets/images/img-box/sidebar-listings-1.jpg" alt="images">
                            </div>
                            <div class="content link-style-1">
                                <a class="fs-16 lh-24" href="">Gorgeous Apartment Building</a>
                                <h4>$7,500</h4>
                            </div>
                        </div>
                        <div class="box-listings flex hover-img3">
                            <div class="img-listings img-style3">
                                <img src="assets/todobienes/assets/images/img-box/sidebar-listings-2.jpg" alt="images">
                            </div>
                            <div class="content link-style-1">
                                <a class="fs-16 lh-24" href="">Gorgeous Apartment Building</a>
                                <h4>$7,500</h4>
                            </div>
                        </div>
                        <div class="box-listings flex hover-img3">
                            <div class="img-listings img-style3">
                                <img src="assets/todobienes/assets/images/img-box/sidebar-listings-3.jpg" alt="images">
                            </div>
                            <div class="content link-style-1">
                                <a class="fs-16 lh-24" href="">Gorgeous Apartment Building</a>
                                <h4>$7,500</h4>
                            </div>
                        </div>
                        <div class="box-listings flex hover-img3">
                            <div class="img-listings img-style3">
                                <img src="assets/todobienes/assets/images/img-box/sidebar-listings-4.jpg" alt="images">
                            </div>
                            <div class="content link-style-1">
                                <a class="fs-16 lh-24" href="">Gorgeous Apartment Building</a>
                                <h4>$7,500</h4>
                            </div>
                        </div>
                        <div class="box-listings flex hover-img3">
                            <div class="img-listings img-style3">
                                <img src="assets/todobienes/assets/images/img-box/sidebar-listings-5.jpg" alt="images">
                            </div>
                            <div class="content link-style-1">
                                <a class="fs-16 lh-24" href="">Gorgeous Apartment Building</a>
                                <h4>$7,500</h4>
                            </div>
                        </div>
                    </div>

                    <div class="widget widget-estate">
                        <h3 class="widget-title title-news">
                            Real estate near you
                        </h3>                       
                        <ul class="group-estate flex">
                            <li class="box-estate hover-img2">
                                <div class="thumb img-style2 ">
                                    <img class="img2" src="assets/todobienes/assets/images/img-box/sidebar-estate-1.jpg" alt="images">
                                </div>
                                <div class="content">    
                                    <div class="title link-style-3 fw-6 lh-18"><a href="properties-map-v1.html">Moncton</a> </div>                              
                                    <p class="fs-12 lh-16 text-color-1">1570 listing</p>
                                </div>
                            </li>
                            <li class="box-estate hover-img2">
                                <div class="thumb img-style2 ">
                                    <img class="img2" src="assets/todobienes/assets/images/img-box/sidebar-estate-2.jpg" alt="images">
                                </div>
                                <div class="content">    
                                    <div class="title link-style-3 fw-6 lh-18"><a href="properties-map-v1.html">Mississauga</a> </div>                              
                                    <p class="fs-12 lh-16 text-color-1">1570 listing</p>
                                </div>
                            </li>
                            <li class="box-estate hover-img2">
                                <div class="thumb img-style2 ">
                                    <img class="img2" src="assets/todobienes/assets/images/img-box/sidebar-estate-3.jpg" alt="images">
                                </div>
                                <div class="content">    
                                    <div class="title link-style-3 fw-6 lh-18"><a href="properties-map-v1.html">Halifax</a> </div>                              
                                    <p class="fs-12 lh-16 text-color-1">1570 listing</p>
                                </div>
                            </li>
                            <li class="box-estate hover-img2">
                                <div class="thumb img-style2 ">
                                    <img class="img2" src="assets/todobienes/assets/images/img-box/sidebar-estate-4.jpg" alt="images">
                                </div>
                                <div class="content">    
                                    <div class="title link-style-3 fw-6 lh-18"><a href="properties-map-v1.html">Ottawa</a> </div>                              
                                    <p class="fs-12 lh-16 text-color-1">1570 listing</p>
                                </div>
                            </li>
                            <li class="box-estate hover-img2">
                                <div class="thumb img-style2 ">
                                    <img class="img2" src="assets/todobienes/assets/images/img-box/sidebar-estate-5.jpg" alt="images">
                                </div>
                                <div class="content">    
                                    <div class="title link-style-3 fw-6 lh-18"><a href="properties-map-v1.html">Iqaluit</a> </div>                              
                                    <p class="fs-12 lh-16 text-color-1">1570 listing</p>
                                </div>
                            </li>
                            <li class="box-estate hover-img2">
                                <div class="thumb img-style2 ">
                                    <img class="img2" src="assets/todobienes/assets/images/img-box/sidebar-estate-6.jpg" alt="images">
                                </div>
                                <div class="content">    
                                    <div class="title link-style-3 fw-6 lh-18"><a href="properties-map-v1.html">Toronto</a> </div>                              
                                    <p class="fs-12 lh-16 text-color-1">1570 listing</p>
                                </div>
                            </li>
                        </ul>
                    </div>  -->

                  <!--   <div class="widget widget-ads">  
                        <div class="box-ads">
                            <div class="content relative z-2">
                                <h3 class="link-style-3"><a href="">Gorgeous Apartment Building</a> </h3>
                                <div class="text-addres "><p class="p-12 text-color-1 icon-p">58 Hullbrook Road, Billesley, B13 0LA</p></div>
                                <div class="star flex">
                                    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve"><g>	<g>		<polygon points="512,197.816 325.961,185.585 255.898,9.569 185.835,185.585 0,197.816 142.534,318.842 95.762,502.431 			255.898,401.21 416.035,502.431 369.263,318.842 		"></polygon>	</g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g></svg>
                                    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve"><g>	<g>		<polygon points="512,197.816 325.961,185.585 255.898,9.569 185.835,185.585 0,197.816 142.534,318.842 95.762,502.431 			255.898,401.21 416.035,502.431 369.263,318.842 		"></polygon>	</g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g></svg>
                                    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve"><g>	<g>		<polygon points="512,197.816 325.961,185.585 255.898,9.569 185.835,185.585 0,197.816 142.534,318.842 95.762,502.431 			255.898,401.21 416.035,502.431 369.263,318.842 		"></polygon>	</g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g></svg>
                                    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve"><g>	<g>		<polygon points="512,197.816 325.961,185.585 255.898,9.569 185.835,185.585 0,197.816 142.534,318.842 95.762,502.431 			255.898,401.21 416.035,502.431 369.263,318.842 		"></polygon>	</g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g></svg>
                                    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve"><g>	<g>		<polygon points="512,197.816 325.961,185.585 255.898,9.569 185.835,185.585 0,197.816 142.534,318.842 95.762,502.431 			255.898,401.21 416.035,502.431 369.263,318.842 		"></polygon>	</g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g></svg>                                               
                                </div>
                            </div> 
                        </div>
                    </div> 

                </div>
            </aside> -->
        </div>
    </div>
</section>

