/* Estilo para el header fijo */
.header-fixed {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000; /* Asegura que el header esté por encima de otros elementos */
    background-color: #fff; /* Color de fondo del header */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra opcional para el header */
  }
  
  /* Agrega un relleno superior al cuerpo para evitar que el contenido quede oculto detrás del header */
  body {
    padding-top: 70px; /* Ajusta este valor según la altura de tu header */
  }
  /* Ocultar el menú principal en dispositivos móviles */
@media (max-width: 767px) {
  .main-menu {
      display: none; /* Oculta el menú principal en pantallas pequeñas */
  }
  .mobile-menu {
      display: block; /* Muestra el menú móvil en pantallas pequeñas */
  }
}

/* Ocultar el menú móvil en pantallas grandes */
@media (min-width: 768px) {
  .mobile-menu {
      display: none; /* Oculta el menú móvil en pantallas grandes */
  }
}

.mobile-menu .menu-outer {
  border-bottom: 1px solid #EFEFEF;
  padding-bottom: 20px;
  margin-bottom: 20px;
  display: none;
}

  