<div class="left-menu">
    <!--- Sidemenu -->
    <div id="sidebar-menu">
        <!-- Logo Box -->
        <div class="logo-box d-flex">
            <div class="logo">
                <a >
                    <img src="assets/todobienes/assets/images/logo/logo3@2x.png" alt="" width="197" height="48" class="img-logo">
                    <img src="assets/todobienes/assets/images/logo/toggle-logo@2x.png" alt="" width="46" height="48" class="toggle-logo">
                </a>
            </div>
        </div>
      
        <div class="title-2 fw-6">Menu</div>
        <ul class="downmenu list-unstyled" id="side-menu">
            <li>
                <a (click)="global.setRoute('dashboard')" class="tf-effect">
                <span class="icon-dash dash-icon">
                    <svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <g>
                        <path d="M6.75682 9.35156V15.64" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M11.0342 6.34253V15.64" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M15.2412 12.6746V15.64" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M15.2939 1.83331H6.70346C3.70902 1.83331 1.83203 3.95272 1.83203 6.95304V15.0469C1.83203 18.0472 3.70029 20.1666 6.70346 20.1666H15.2939C18.2971 20.1666 20.1654 18.0472 20.1654 15.0469V6.95304C20.1654 3.95272 18.2971 1.83331 15.2939 1.83331Z" stroke="#F1FAEE" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                        </g>
                    </svg>
                </span>
                <span class="dash-titles">Dashboard</span>
                </a>
            </li>
            
       
            <li>
                <a (click)="global.setRoute('dashboard-add-properties')" class="tf-effect">
                <span class="icon-applicant dash-icon">
                    <svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M10.533 2.55658H7.10561C4.28686 2.55658 2.51953 4.55216 2.51953 7.37733V14.9985C2.51953 17.8237 4.27861 19.8192 7.10561 19.8192H15.1943C18.0222 19.8192 19.7813 17.8237 19.7813 14.9985V11.3062" stroke="#F1FAEE" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M8.09012 10.0108L14.9404 3.16055C15.7938 2.30805 17.177 2.30805 18.0305 3.16055L19.146 4.27614C19.9995 5.12955 19.9995 6.51372 19.146 7.36622L12.2628 14.2495C11.8897 14.6226 11.3837 14.8325 10.8557 14.8325H7.42188L7.50804 11.3675C7.52087 10.8578 7.72896 10.372 8.09012 10.0108Z" stroke="#F1FAEE" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M13.8984 4.21893L18.0839 8.40443" stroke="#F1FAEE" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg> 
                </span>
                <span class="dash-titles" (click)="global.setRoute('dashboard-add-properties')">Agregar propiedades</span>
                </a>
            </li>
         <!--    <li>
                <a (click)="global.setRoute('agents')" class="has-arrow tf-effect">
                <span class="icon-dash dash-icon">
                    <svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M10.987 14.0674C7.44168 14.0674 4.41406 14.6034 4.41406 16.7502C4.41406 18.8969 7.42247 19.4521 10.987 19.4521C14.5323 19.4521 17.5591 18.9152 17.5591 16.7694C17.5591 14.6235 14.5515 14.0674 10.987 14.0674Z" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M10.9866 11.0054C13.3132 11.0054 15.1989 9.11885 15.1989 6.79226C15.1989 4.46567 13.3132 2.57996 10.9866 2.57996C8.66005 2.57996 6.77346 4.46567 6.77346 6.79226C6.7656 9.11099 8.6391 10.9976 10.957 11.0054H10.9866Z" stroke="white" stroke-width="1.42857" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                </span>
                <span class="dash-titles">Agentes</span>
                </a>
            </li> -->
            <li>
                <a (click)="global.setRoute('message')" class="has-arrow tf-effect">
                <span class="icon-dash dash-icon">
                    <svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M17.4808 17.4807C14.6793 20.2825 10.531 20.8878 7.13625 19.3178C6.6351 19.1161 6.22423 18.953 5.83362 18.953C4.74565 18.9594 3.39143 20.0144 2.68761 19.3114C1.98379 18.6075 3.03952 17.2522 3.03952 16.1577C3.03952 15.767 2.88291 15.3635 2.68116 14.8613C1.11046 11.4671 1.71663 7.31744 4.5181 4.51659C8.09433 0.939042 13.9045 0.939042 17.4808 4.51566C21.0635 8.09874 21.057 13.9041 17.4808 17.4807Z" stroke="#F1FAEE" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M14.6105 11.3786H14.6187" stroke="#F1FAEE" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M10.9347 11.3786H10.9429" stroke="#F1FAEE" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M7.2589 11.3786H7.26715" stroke="#F1FAEE" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                </span>
                <span class="dash-titles">Mensajes</span>
                </a>
            </li>
          
            <li>
                <a   class="tf-effect" (click)="logout()">
                <span class="icon-log-out dash-icon">
                    <svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M13.7627 6.77369V5.91844C13.7627 4.05303 12.2502 2.54053 10.3848 2.54053H5.91606C4.05156 2.54053 2.53906 4.05303 2.53906 5.91844V16.1209C2.53906 17.9864 4.05156 19.4989 5.91606 19.4989H10.394C12.2539 19.4989 13.7627 17.9909 13.7627 16.131V15.2666" stroke="#F1FAEE" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M19.9907 11.0196H8.95312" stroke="#F1FAEE" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M17.3047 8.34741L19.9887 11.0195L17.3047 13.6925" stroke="#F1FAEE" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                </span>
                <span class="dash-titles">Salir</span>
                </a>
            </li>
        </ul>
    </div>
  </div>