<div>
<app-header [hidden]="virtualRouter.routerActive === 'dashboard'"></app-header>
<app-header-dashboard [hidden]="virtualRouter.routerActive !== 'dashboard'"></app-header-dashboard>
<app-home [hidden]="virtualRouter.routerActive!=='home'"></app-home>
<app-about [hidden]="virtualRouter.routerActive!=='about'"></app-about>
<app-contact [hidden]="virtualRouter.routerActive!=='contact'"></app-contact>
<app-blog [hidden]="virtualRouter.routerActive!=='blog'"></app-blog>
<app-faq [hidden]="virtualRouter.routerActive!=='faq'"></app-faq>
<app-agents [hidden]="virtualRouter.routerActive!=='agents'"></app-agents>
<app-properties [hidden]="virtualRouter.routerActive!=='properties'"></app-properties>
<app-property-detail [hidden]="virtualRouter.routerActive!=='property-detail'"></app-property-detail>
<app-dashboard [hidden]="virtualRouter.routerActive!=='dashboard'"></app-dashboard>
<app-dashboard-add-properties [hidden]="virtualRouter.routerActive!=='dashboard-add-properties'"></app-dashboard-add-properties>


<app-footer [hidden]="virtualRouter.routerActive === 'dashboard'"></app-footer>

</div>
<div class="modal fade popup" id="popup_bid" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <div class="modal-body space-y-20 pd-40">
                <div class="wrap-modal flex">
                    <div class="images flex-none">
                        <img src="assets/todobienes/assets/images/section/bg-login.jpg" alt="images"> 
                        <div class="mark-logo">
                             <img src="assets/todobienes/assets/images/logo/logo@2x.png" alt="images">
                        </div>
                    </div>
                    <div class="content">
                        <div class="title-login fs-30 fw-7 lh-45">Ingresar</div>
                        <div class="comments">
                            <div class="respond-comment">
                                <form method="post" class="comment-form form-submit" action="#" accept-charset="utf-8" [formGroup]="ngFormLogin" (ngSubmit)="onLogin()">
                                    <fieldset class="">
                                        <label class="fw-6">Cuenta</label>
                                        <input type="text" id="email" class="form-control" name="email" placeholder="ingrese su correo" formControlName="email" required [ngClass]="{ 'is-invalid': submitted && f['email'].errors }">
                                        <img class="img-icon img-email" src="assets/todobienes/assets/images/icon/icon-gmail.svg" alt="images"> 
                                        <div *ngIf="submitted && f['email'].errors" class="invalid-feedback">
                                            <div *ngIf="f['email'].errors['required']">El email es requerido</div>
                                        </div>
                                    </fieldset>   
                                    <fieldset class="style-wrap">
                                        <label class="fw-6">Contraseña</label>
                                        <input type="password" class="form-control" id="password" placeholder="*******" formControlName="password" required [ngClass]="{ 'is-invalid': submitted && f['password'].errors}">
                                        <div *ngIf="submitted && f['password'].errors" class="invalid-feedback">
                                            <div *ngIf="f['password'].errors['required']">La contraseña es requerida</div>
                                        </div> 
                                        <img class="img-icon" src="assets/todobienes/assets/images/icon/icon-password.svg" alt="images"> 
                                    </fieldset> 
<!--                                     <div class="title-forgot"><a class="fs-13" >Forgot password</a> </div>                                    
 -->                                    <button class="sc-button"  name="submit" type="submit">
                                        <a>
                                        <span>Ingresar</span>
                                    </a>
                                    </button>
                                </form>
                            </div>
                        </div>
<!--                         <div class="text-box text-center fs-13">NO tienes cuenta?  <a class="font-2 fw-7 fs-13 color-popup text-color-3" data-toggle="modal" data-target="#popup_bid2" data-dismiss="modal" aria-label="Close">Register</a></div>
 -->
                    </div>
                </div>
            </div>     
        </div>
    </div>
</div>

<div class="modal fade popup " id="popup_bid2" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content ">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <div class="modal-body space-y-20 pd-40 style2">
                <div class="wrap-modal flex">
                    <div class="images  relative">
                         <img src="assets/todobienes/assets/images/section/bg-register.jpg" alt="images"> 
                        <div class="mark-logo">
                             <img src="assets/todobienes/assets/images/logo/logo@2x.png" alt="images"> 
                        </div>
                    </div>
                  <!--   <div class="content">
                        <div class="title-login fs-30 fw-7 lh-45">Registrase</div>
                        <div class="comments">
                            <div class="respond-comment">
                                <form method="post" class="comment-form form-submit" action="#" accept-charset="utf-8"  novalidate="novalidate" (submit)="onRegister()">

                                    <fieldset class="">
                                        <label class="fw-6">Nombres</label>
                                        <input class="form-control" placeholder="nombre o razón social"
                                                [(ngModel)]="ngFormRegister.value.name" name="name" type="text"
                                                required>
                                        <img class="img-icon img-name" src="assets/todobienes/assets/images/icon/login-user.svg" alt="images">
                                     </fieldset>   
                                    <fieldset class="t">
                                        <label class="fw-6">Email</label>
                                        <input class="form-control" placeholder="tu email"
                                                [(ngModel)]="ngFormRegister.value.email" name="email" type="email"
                                                required>
                                        <img class="img-icon" src="assets/todobienes/assets/images/icon/icon-gmail.svg" alt="images">
                                     </fieldset> 
                                 
                                    <fieldset class="">
                                        <label class="fw-6">Contraseña</label>
                                        <input class="form-control" placeholder="6+ caracteres"
                                        [(ngModel)]="ngFormRegister.value.password" name="password"
                                        type="password" required>
                                        <img class="img-icon" src="assets/todobienes/assets/images/icon/icon-password.svg" alt="images">
                                     </fieldset> 
                                    <fieldset class="">
                                        <label class="fw-6">Confirmas contraseña</label>
                                        <input class="form-control" placeholder="confirmar contraseña"
                                        [(ngModel)]="ngFormRegister.value.passwordConfirm"
                                        name="passwordConfirm" type="password" required>
                                        <img class="img-icon" src="assets/todobienes/assets/images/icon/icon-password.svg" alt="images">
                                     </fieldset>                                   
                                    <button class="sc-button"  name="submit" type="submit">
                                        <a>
                                        <span>Registrarme</span>
                                    </a>
                                    </button>
                                </form>
                            </div>
                        </div>
                       
                    </div> -->
                </div>
            </div>     
        </div>
    </div>
</div>

<a id="scroll-top" class="button-go"></a>

