/* 
@import url("@assets/todobienes/app/dist/swiper-bundle.min.css"); */

/* Asegúrate de que Swiper se ajuste al contenedor del componente */

.thumbs-swiper-row1 {
  max-width: 1200px;
  margin: auto;
  margin-top: -42px;
}
/* Estilos generales para el slider */
.thumbs-swiper-row1 {
    max-width: 1200px;
    margin: auto;
    margin-top: -42px;
}

/* Estilos para pantallas pequeñas */
@media (max-width: 767px) {
    .thumbs-swiper-row1 {
        margin-top: 0; /* Ajusta el margen superior para móviles */
        padding: 0 15px; /* Añade un poco de padding horizontal */
    }

    .swiper-slide {
        width: 100%; /* Asegura que las imágenes en el slider ocupen todo el ancho del contenedor */
    }

    .swiper-slide img {
        width: 100%; /* Hace que las imágenes se adapten al ancho del slide */
        height: auto; /* Mantiene la proporción de las imágenes */
    }

    .swiper-pagination, .swiper-button-next, .swiper-button-prev {
        display: none; /* Oculta los controles para móviles si el espacio es limitado */
    }
    .flat-title{
      padding-top: 65px;
    }
}

.flat-title{
  padding-top: 65px;
}