/* 
@import url("@assets/todobienes/app/dist/swiper-bundle.min.css"); */

/* Asegúrate de que Swiper se ajuste al contenedor del componente */

.thumbs-swiper-row1 {
  max-width: 1200px;
  margin: auto;
  margin-top: -42px;
}